apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-specific-app
  labels:
    app: node-info
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-info
  template:
    metadata:
      labels:
        app: node-info
    spec:
      serviceAccountName: agent-sa
      nodeSelector:
        kubernetes.io/hostname: lab-cluster-worker
      containers:
        - name: name-node-container
          image: pepi1989/revision-agent:v27
          imagePullPolicy: Always
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MONITORING_NAMESPACE
              value: "monitoring"
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: PROMETHEUS_URL
              value: "http://prometheus-k8s.monitoring.svc.cluster.local:9090"
            - name: FEDERATION_URL_SEND
              value: "http://fed-master-service:8002/upload_weights"
            - name: FEDERATION_URL_RECEIVE
              value: "http://fed-master-service:8002/global_model"
